streamlit==1.39.0
langchain==0.2.16
langchain-groq==0.2.1
langchain-community==0.3.7
langchain-huggingface==0.1.1
langchain-chroma==0.1.4
chromadb==0.5.11
pypdf==4.0.1
python-dotenv==1.0.1
sentence-transformers==2.7.0
